<a href="https://colab.research.google.com/github/jooyeonjeong/DACON/blob/main/DACON_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Data Preprocessing

In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [29]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
submission = pd.read_csv('submission.csv')

# Replace 'Survived' to the last column
# Replace 'Name' to the first column <- to delete
train = train[['Name', 'PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived']]
# train으로만 하고 test에 예측값을 넣어서 라벨 달아서 제출하면 정답률이 

X = test.iloc[:, 1:-1].values
y = test.iloc[:,-1].values

print(X)
print(y)

# shape 확인
print(train.shape)
print(test.shape)

[[3 'Kelly, Mr. James' 'male' ... '330911' 7.8292 nan]
 [3 'Wilkes, Mrs. James (Ellen Needs)' 'female' ... '363272' 7.0 nan]
 [2 'Myles, Mr. Thomas Francis' 'male' ... '240276' 9.6875 nan]
 ...
 [3 'Saether, Mr. Simon Sivertsen' 'male' ... 'SOTON/O.Q. 3101262' 7.25
  nan]
 [3 'Ware, Mr. Frederick' 'male' ... '359309' 8.05 nan]
 [3 'Peter, Master. Michael J' 'male' ... '2668' 22.3583 nan]]
['Q' 'S' 'Q' 'S' 'S' 'S' 'Q' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'Q' 'C'
 'S' 'C' 'C' 'S' 'S' 'C' 'C' 'S' 'C' 'C' 'S' 'C' 'S' 'S' 'S' 'S' 'C' 'C'
 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'C' 'Q' 'C' 'S' 'S' 'C' 'S' 'S'
 'C' 'Q' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'Q' 'C' 'S' 'Q' 'S' 'C' 'S' 'Q' 'S'
 'S' 'C' 'C' 'C' 'S' 'S' 'S' 'Q' 'C' 'S' 'S' 'S' 'Q' 'C' 'Q' 'S' 'Q' 'S'
 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'Q' 'S' 'C' 'S' 'Q' 'Q'
 'S' 'S' 'C' 'Q' 'C' 'Q' 'S' 'C' 'C' 'S' 'C' 'S' 'S' 'Q' 'C' 'S' 'Q' 'S'
 'S' 'Q' 'S' 'S' 'S' 'C' 'S' 'C' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'C' 'S'
 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'C'
 'S' 'S' 'S' 'S' 'C' 'S' 'C' 'S' 'S' 'C' 'S' 'C' 'S' 'S' 'S' 'C' 'S' 'C'
 'S' 'C' 'S' 'Q' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'C' 'S'
 'S' 'S' 'Q' 'S' 'C' 'S' 'S' 'C' 'Q' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S'
 'Q' 'S' 'C' 'S' 'C' 'S' 'S' 'S' 'C' 'C' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'Q'
 'C' 'S' 'C' 'C' 'S' 'C' 'C' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S'
 'C' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S'
 'C' 'Q' 'C' 'Q' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'C' 'S' 'S' 'S' 'S'
 'C' 'S' 'S' 'Q' 'C' 'S' 'S' 'S' 'C' 'C' 'S' 'S' 'S' 'C' 'S' 'S' 'Q' 'S'
 'S' 'S' 'S' 'S' 'S' 'C' 'S' 'Q' 'C' 'Q' 'C' 'S' 'S' 'S' 'S' 'C' 'S' 'S'
 'S' 'S' 'S' 'C' 'S' 'S' 'S' 'C' 'C' 'C' 'S' 'S' 'S' 'C' 'S' 'C' 'S' 'S'
 'S' 'C' 'S' 'S' 'S' 'C' 'S' 'S' 'C' 'S' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S'
 'S' 'C' 'S' 'S' 'C' 'S' 'C' 'S' 'C' 'C' 'S' 'C' 'S' 'S' 'S' 'C' 'S' 'S'
 'S' 'S' 'Q' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'Q' 'S' 'S' 'S' 'S' 'S' 'S' 'S'
 'Q' 'C' 'S' 'Q' 'S' 'S' 'C' 'S' 'C' 'C' 'S' 'C' 'Q' 'S' 'Q' 'Q' 'S' 'S'
 'C' 'S' 'S' 'C']
(891, 12)
(418, 11)

In [14]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
# 상관계수 분석 
# 상관분석 correlation analysis
# 상관관계 correlation coeffiecient
train.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [32]:
# Replace 'Sex'
train['Sex'] = train['Sex'].replace('male',0)
test['Sex'] = test['Sex'].replace('male',0)
train['Sex'] = train['Sex'].replace('female',1)
test['Sex'] = test['Sex'].replace('female',1)

In [33]:
train.head(3)

,Name,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,"Braund, Mr. Owen Harris",1,3,0,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,38.0,1,0,PC 17599,71.2833,C85,C,1
2,"Heikkinen, Miss. Laina",3,3,1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1

## Missing Data

In [12]:
train.isnull().sum()
# missing data in 'Age', 'Cabin', 'Embarked'

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [31]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy = 'mean')
imputer.fit(X[:, 1:-1])
X[:, 1:-1] = imputer.transform(X[:, 1:-1])

ValueError: ignored

## Splitting the dataset into the Trainig/Test set

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
## Feature Scaling